.card {
  padding: 30px 20px;
  margin-bottom: 30px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 60px rgba(217, 217, 217, 1);
  transition: border 0.3s;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid $bluecolor;
  }

  h3 {
    font-size: 26px;
    text-align: right;
    padding-bottom: 20px;
  }

  ul {
    text-decoration: none;
    margin-bottom: 150px;
    list-style: none;
    padding-left: 10px;

    li {
      padding-bottom: 10px;
      font-size: 16px;
      position: relative;
      padding-left: 20px;

      &:before {
        position: absolute;
        content: '';
        left: -10px;
        top: 5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid $bluecolor;
        border-bottom: 5px solid transparent;
      }
    }
  }
}

.creature .card .button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.creature .card p {
  position: absolute;
  bottom: 70px;
  right: 10px;
}

.creature .creature__cards .card p {
  text-align: right;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
}

.button {
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    width: 220px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    background-color: $orangecolor;
    border: 1px solid $orangecolor;
    transition: background-color 1s;

    &:hover {
      background-color: #fff;
      color: $orangecolor;
    }
  }
}

.blue-but {
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    width: 300px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    background-color: $bluecolor;
    border: 1px solid $bluecolor;

    &:hover {
      background-color: #fff;
      color: $bluecolor;
    }
  }
}

.form {
  z-index: 1001;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &__back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-cont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 55px 20px 40px;
    width: 760px;
    max-width: calc(100% - 30px);

    .def-form {
      width: 100%;
      display: flex;
      justify-content: center;

    }

    input {
      height: 50px;
      margin-bottom: 25px;
      padding-left: 20px;
      width: 100%;
      border: 1px solid $bluecolor;

      &:hover {
        border: 1px solid $orangecolor;
      }
    }

    &__popup {

      .send {
        background-color: $bluecolor;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        padding-left: 0;
        cursor: pointer;
        width: 300px;
        height: 50px;
        margin: 0 auto;
        display: block;
      }
    }

    &__out{
      display: flex;
      flex-direction: column;
      align-items: center;
      display: none;

      img {
        width: 430px;
        margin-bottom: 20px;
      }
    }
  }

  .close {
    position: absolute;
    right: 5px;
    top: -10px;
    color: #d1d1d1;
    font-size: 80px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #bababa;
      text-decoration: none;
    }
  }

  .form-cont h4 {
    font-size: 26px;
    color: $bluecolor;
    margin-bottom: 25px;
    text-align: center;
  }

  .form-cont p {
    font-size: 13px !important;
    line-height: 24px !important;
    text-align: center;
    padding-top: 10px;
  }
}

.main .owl-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 95%;

  button {
    width: 40px;
    height: 48px;
  }

  .owl-prev {
    background-image: url("./files/imgs/slider/next.png");
    transform: scale(-1, 1);
    position: absolute;
    left: 15px;
  }

  .owl-next {
    background-image: url("./files/imgs/slider/next.png");
    position: absolute;
    right: 15px;
  }

  span {
    display: none;
  }
}





@media screen and (min-width: 768px) {

  .creature .card {

    max-width: calc(50% - 15px);

  }

  .card.card-15 {
    margin-right: 30px;
    max-width: calc(50% - 15px);
  }

  .main .owl-carousel .owl-nav {
    width: 100%;
    top: 0;

    button {
      background-repeat: no-repeat;
      background-size: cover;
      width: 70px;
      height: 80px;
      outline: none;

      .owl-prev {
        left: 19px;
      }

      .owl-next {
        right: 15px;
      }
    }
  }

}

@media screen and (min-width: 1200px) {

  .card {

    ul {
      padding-left: 25px;
    }

    .button {

      button {
        width: 200px;
        height: 40px;
        font-size: 20px;
        font-weight: 100;
      }
    }
  }

  .main .owl-carousel .owl-nav {
    width: 100%;
    top: 50%;

    button {
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }

  }

  .form {

    &__back {

    }

    &-cont {
      width: 800px;
      height: 600px;
      padding: 40px 60px 70px;

      .def-form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__popup {
        display: flex;
        flex-direction: column;
        align-items: center;

        #phone {
          margin-bottom: 60px;
        }

        h4:nth-child(2) {
          align-self: flex-start;
        }

        .send {
          width: 330px;
          height: 80px;
          margin-bottom: 40px;
        }

        input {
          width: 520px;
          height: 55px;
          margin-bottom: 30px;
        }
      }

      &__out {

      }

      .close {
        right: 50px;
        top: 0px;
        font-size: 120px;
      }
    }
  }

  .form .form-cont h4 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 70px;
  }

  .form .form-cont .font-cont-popup h4 {
    text-align: left;
  }

  .form-cont .def-form p {
    font-size: 18px!important;
  }
}










