.slider-popup{
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &__back{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
  }

  &__cont{
    max-height: 100vh;
    //overflow-y: scroll;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    width: calc(100% - 30px);
    height: calc(100vh - 100px);

    .p-slider {
      height: 100%;

      .owl-stage-outer {
        height: 100%;
      }
    }
  }
}

.slider-popup__cont .p-slider .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  button {
    width: 40px;
    height: 48px;
  }

    .owl-prev {
      background-image: url("./files/imgs/slider/next.png");
      transform: scale(-1, 1);
      position: absolute;
      left: -20%;
    }

    .owl-next {
      background-image: url("./files/imgs/slider/next.png");
      position: absolute;
      right: -20%;
    }

    span {
      display: none;
    }

}

@media screen
and (min-width: 768px){

  .slider-popup__cont{

    width: calc(100% - 210px);
  }
}

@media screen
and (min-width: 1000px){

  .slider-popup__cont{

    width: calc(100% - 450px);
  }

}