.main {
  padding-top: 80px;

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;
  }

  .header-menu {
    display: none;
    margin-top: 45px;
    margin-bottom: 55px;
    position: relative;

    .head {
      list-style: none;

      > li {
        margin-bottom: 45px;

        &:last-child {
          margin-bottom: 0;
        }

        > a {
          font-size: 24px;;
          display: inline-block;
          position: relative;
          width: 100%;

          &:hover{

            span::after{
              width: 100%;
            }
          }

          span{
            position: absolute;
            background-color: $orangecolor;
            display: block;
            height: 1px;
            width: 100vw; //calc (100% + 20px);
            right: -30px;
            top: 30px;
            //max-width: none;

            &::after{
              background-color: $orangecolor;
              display: block;
              position: absolute;
              left: 0;
              top: 2px;
              content: "";
              height: 1px;
              width: 0%;
              max-width: none;
              transition: width 0.3s;
            }
          }
        }

        ul {
          padding-top: 30px;

          li {
            list-style: none;
            text-indent: -1em;
            margin-bottom: 18px;

            &::before {
              content: '\25ba';
              padding-right: 10px;
              color: $bluecolor;
            }

            a {
              font-size: 20px;

              &:hover {
                border-bottom: 2px solid $bluecolor;
              }
            }
          }
        }
      }
    }

    img {
      position: absolute;
      left: 45%;
      top: 35px;
      width: 630px;
    }

  }

  .creature {
    margin-bottom: 60px;

    .row:last-child{

      .creature__cards{

        .card:last-child{
          margin-bottom: 0;
        }
      }
    }

    &__info {
      padding-top: 10px;
      margin-bottom: 30px;

      .title {
      }

      &__top {

        img {
          margin-bottom: 30px;
        }
      }

      &__bottom {

        .title {
          display: none;
        }
      }
    }

    &__slider {
      min-height: 600px;
      margin-bottom: 60px;

      .owl-carousel{

        .item {

          &__top {

            h3 {
              text-align: center;
              font-size: 20px;
              margin-bottom: 10px;
            }

            p {
              text-align: center;
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 15px;
            }

            h4 {
              text-align: center;
              font-size: 16px;
              margin-bottom: 25px;
            }

            .info {

              span {
                display: flex;
                justify-content: center;
                font-size: 16px;
                margin-bottom: 0;
                line-height: 35px;
              }

              .max {
                display: none;
              }
            }
          }

          &__bottom {

            img {
              display: flex;
              justify-content: center;
              margin-bottom: 25px;
            }

            .min {

              button{
                width: 100%;
                height: 65px;
              }
            }
          }

        }
      }

      .owl-nav {

       }
    }

    &__cards {

    }
  }

  .ads {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;

    &__top {
      display: grid;
      align-items: center;
      margin-bottom: 40px;
    }

    &__bottom {

      .bottom {
        margin: 0;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        ul {
          margin: 0;
          width: 100%;
        }
      }

      .center {
        display: flex;
        flex-wrap: wrap;

        p {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          padding-bottom: 10px;
          width: 100%;
        }
      }
    }
  }

  .bitrix {

    h2 {
      padding-bottom: 10px;
    }

    img {
      padding-bottom: 20px;
    }

    p {
      padding-bottom: 30px;
    }

    .creature {

      &__info {

        &__bottom {

          .button {

            button {
              width: 100%;
              height: 65px;
            }
        }
      }
    }

    }

  }

  .advant {
    background-color: #28ad83;
    margin-bottom: 80px;

    .white {
      color: #fff;
      padding: 30px 0;
    }

    &__cont {
      max-width: 1400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      position: relative;
      padding-bottom: 30px;

      .block {
        width: 300px;
        background-color: #fff;
        padding: 50px 20px 30px;
        margin: 20px 10px 0;
        position: relative;

        span {
          position: absolute;
          font-size: 105px;
          font-weight: bold;
          color: #a3dfda;
          left: 40px;
          top: 20px;
          z-index: 10;
        }

        h3 {
          position: relative;
          z-index: 101;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 40px;
          line-height: 28px;
        }

        p {
          position: relative;
          z-index: 101;
          font-size: 16px;
          line-height: 25px;
        }
      }

      .b2 {

        h3 {
          margin-bottom: 10px;
        }
      }

      .b3 {

        h3 {
          margin-bottom: 66px;
          top: 10px;
        }
      }

      .b4 {

        h3 {
          margin-bottom: 30px;
        }
      }

      .b5 {

        h3 {
          margin-bottom: 25px;
          margin-top: 0px;
        }

        p {
          margin-bottom: 9px;
        }
      }

      .b6 {

        h3 {
          margin-bottom: 30px;
        }
      }
    }
  }

  .about {

    .creature{

      &__info {
      margin-bottom: 80px;

      .title {

        p {
          display: block;
        }
      }

      &__top {
      }

      img {
        margin-bottom: 30px;
        //display: none;
      }

      P {
        margin-bottom: 40px;
      }

       &__bottom {

         .titl {
           display: none;
         }

         .blue-but {

           button{
             width: 100%;
             height: 65px;
           };
         }
       }
    }


    }
  }

  .map {
    position: relative;

    .blue {
      background-color: rgba(0, 167, 174, 0.8);
      height: 200px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: absolute;
        left: 0;
        top: 0;
      }

      ul {
        list-style: none;

        li {
          text-decoration: none;
          position: relative;
          padding: 0 0 20px 35px;

          a {
            color: #fff;
            font-size: 22px;

            img {
              position: absolute;
              left: -15px;
              top: -7px;
            }
          }

        }
      }
    }
  }

}



