@media screen
and (min-width: 768px) {

  .main {
    padding-top: 91px;

    P {
      font-size: 15px;
      line-height: 26px;
    }

    h2 {
      font-size: 42px;
      font-weight: 300;
      line-height: 50px;
    }

    .header-menu {
      display: block;





    }

    .creature {
      margin-bottom: 90px;

      &__info {
        display: flex;
        align-items: center;

        .title {
          display: none;
        }

        &__top {

        }

        &__bottom {

          .title {
            display: block;
          }
        }
      }

      &__slider {

      }

      &__cards {
        display: flex;
        justify-content: space-between;
      }

    .advant {

        .block {
          width: 325px;
        }

        .b3 {

        }

        .b4 {
          top: -30px;
        }

        .b5 {

        }

        .b6 {
          top: -83px;
        }
      }

    .about {

        .creature__info {
          display: flex;
          align-items: center;

          .title {
            display: none;
          }

          &__top {

              img {
              }




          }

          &__bottom {

            .title2 {
              display: block;
            }

            .lk {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen
and (min-width: 1200px){

  .main{
    padding-top: 130px;


    p {
      font-size: 24px;
      line-height: 42px;
    }

    h2 {
      font-size: 62px;
      font-weight: 100;
      line-height: 68px;
    }

    .creature {
      margin-bottom: 155px;
    }

    .card {

      .button {

        button{
          width: 300px;
          height: 90px;
        }
      }
    }

    .advant {

      .block {
        width: 350px;
      }

      .b4 {
        top: -45px;
      }

      .b5 {
        top: -108px;
      }

      .b6 {
        top: -16px;
      }
    }
  }
}